# IDE
.devcontainer
.idea/
.vscode/

# Protoc gen
gen/
build/

# JavaScript
node_modules
package-lock.json

# Gradle
.gradle/
out/

# Java Package Files
*.jar
!gradle/wrapper/**
!sealights/**

*.war
*.ear
*.iml
*.ipr
*.iws

bin

# Rust
!src
target/
Cargo.lock
**/*.rs.bk

# A workaround for building documentation on Docs.rs
!src/build
src/build/*
!src/build/proto
src/build/proto/*
!src/build/proto/rust/

tmp/